<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resourcesapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResourcesApp">
        <activity android:name=".Activity.MediaServiceActivity"></activity>
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity"></activity>

        <service android:name=".Services.MediaService" />
    </application>

</manifest>